<div ng-controller="loginController">
    <section id="form">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="login-form">
                        <h2><b>Login</b></h2>
                        <form style="border: none;">
                            <input type="text" placeholder="ID" ng-model="ID"></input>
                            <br>
                            <input type="password" placeholder="Password" ng-model="password"></input>
                            <div class = "row">
	                            <button type="submit" class="btn btn-default" ng-click="login()">
	                                Login
	                            </button>
	                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
