<div ng-controller="registerController">
     
  <div class="form-group">
      <h3>Search subject</h3>
      <input type="text" class="form-control" ng-model="selectedState" bs-options="state for state in states" placeholder="Enter state" bs-typeahead>
  </div>
    
<div ng-repeat="obj in course">
  {{obj}}
</div>
</div>
