<div class = "container">
	<div ng-controller = "userProfileController">	
		<div class="row">
	        <div class="col-sm-12">
	            <h1 style="text-transform: uppercase;">Kasetsart University</h1>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-sm-12">
	            <button ng-click = "getUserProfile()">Get user</button>
	        </div>
		</div>
		<div class="row">
			<div class="col-sm-12">
	            user name: {{userProfile.name}}
	        </div>
		</div>
	</div>
</div>