<div ng-controller = "userProfileController">	
    <div class="row">
        <div class="col-sm-12">
            <h3>Welcome... {{userProfile.firstName}}</h3>
        </div>
        </div>
    <div class="row" id="basic-info">
        <div class = "col-sm-2">
            <img src="src/asset/Avatar.jpg"  width="150" height="100">
        </div> 
        <div class = "col-sm-10">    
            <div class="row">
                <div class="col-sm-2 col-sm-offset-1">
                    <h4>Firstname: </h4>
                </div>
                <div class="col-sm-2">    
                    <h4>{{userProfile.firstName}}</h4>
                </div>
                <div class="col-sm-2">
                    <h4>ID:</h4>
                </div>
                <div class="col-sm-1">    
                    <h4>{{userProfile.thaiID}}</h4>
                </div>
        	</div>
        	<div class="row">
                <div class="col-sm-2 col-sm-offset-1">
                    <h4>Surname: </h4>
                </div>
                <div class="col-sm-2">    
                    <h4>{{userProfile.surName}}</h4>
                </div>
                 <div class="col-sm-2">
                    <h4>Nationality: </h4>
                </div>
                <div class="col-sm-1">    
                    <h4>{{userProfile.nationality}}</h4>
                </div>
        	</div>
        	<div class="row">
                <div class="col-sm-2 col-sm-offset-1">
                    <h4>Gender: </h4>
                </div>
                <div class="col-sm-4">    
                    <h4>{{userProfile.gender}}</h4>
                </div>
        	</div>
        </div>
    </div> 
    <div class="row" id="basic-info">
        <div class = "col-sm-2">
            <h3>University-info</h3>
        </div> 
        <div class = "col-sm-10">    
            <div class="row">
                <div class="col-sm-2 col-sm-offset-1">
                    <h4>ID: </h4>
                </div>
                <div class="col-sm-2">    
                    <h4>{{userProfile.ID}}</h4>
                </div>
                <div class="col-sm-2">
                    <h4>Major Field:</h4>
                </div>
                <div class="col-sm-5">    
                    <h4>{{userProfile.majorField}}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-sm-offset-1">
                    <h4>faculty: </h4>
                </div>
                <div class="col-sm-2">    
                    <h4>{{userProfile.faculty}}</h4>
                </div>
                 <div class="col-sm-2">
                    <h4>Program type: </h4>
                </div>
                <div class="col-sm-5">    
                    <h4>{{userProfile.programType}}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-sm-offset-1">
                    <h4>Campus: </h4>
                </div>
                <div class="col-sm-2">    
                    <h4>{{userProfile.campus}}</h4>
                </div>
                <div class="col-sm-2">
                    <h4>Student status: </h4>
                </div>
                <div class="col-sm-5">    
                    <h4>{{userProfile.status}}</h4>
                </div>
            </div>
        </div>
    </div>     
    <div class="row" id="basic-info">
        <div class = "col-sm-2">
            <h3>Registration for 2nd Semester</h3>
        </div> 
        <div class = "col-sm-10">    
            <div class="row">
                <div class="col-sm-2 col-sm-offset-1">
                    <h4>Registration Date: </h4>
                </div>
                <div class="col-sm-2">    
                    <h4>{{userProfile.dateRegis}}</h4>
                </div>
                <div class="col-sm-2">
                    <h4>Registration Date: </h4>
                </div>
                <div class="col-sm-5">    
                    <h4>{{userProfile.timeRegis}}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-sm-offset-1">
                    <h4>Amount: </h4>
                </div>
                <div class="col-sm-2">    
                    <h4>{{userProfile.amount}}</h4>
                </div>
                 <div class="col-sm-2">
                    <h4>Payment date: </h4>
                </div>
                <div class="col-sm-5">    
                    <h4>{{userProfile.paymentDate}}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-sm-offset-1">
                    <h4>Eligibility to register: </h4>
                </div>
                <div class="col-sm-4">    
                    <h4>{{userProfile.eligibility}}</h4>
                </div>
            </div>
        </div>
    </div>     
</div>
